{% extends "base.html" %}
{% load staticfiles %}
{% block css %}
    <link href="{% static 'css/plugins/dataTables/dataTables.bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/plugins/dataTables/dataTables.responsive.css' %}" rel="stylesheet">
    <link href="{% static 'css/plugins/dataTables/dataTables.tableTools.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/mediaPlayer/mediaelementplayer.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}

            <div class="col-lg-12">
                <div class="wrapper wrapper-content">



<div class="ibox float-e-margins">
    <div class="ibox-title">
        <h5>Детализация звонков</h5>
        <div class="ibox-tools">
            <a class="collapse-link">
                <i class="fa fa-chevron-up"></i>
            </a>
            <a class="close-link">
                <i class="fa fa-times"></i>
            </a>
        </div>
    </div>



    <div class="ibox-content">

        <table class="table table-striped table-bordered table-hover dataTables-example" >
            <thead>
                <tr>
                    <th>Дата</th>
                    <th>А-номер</th>
                    <th>Б-номер</th>
                    <th>Длинна вызова</th>
                    <th>Стоимость звонка</th>
                    <th>Запись разговора</th>
                </tr>
            </thead>
            <tbody>

                {% for cdr in cdrs %}

                <tr class="gradeX">
                    <td><i class="fa fa-clock-o"></i> {{ cdr.callDate }}</td>
                    <td>{{ cdr.a_num }}</td>
                    <td>{{ cdr.b_num }}</td>
                    <td>{{ cdr.billSecSell }} сек.</td>
                    <td>{{ cdr.sellPrice|floatformat:2 }} <i class="fa fa-rub"></i></td>
                    <td>
                        <audio src="/static/1/1.mp3" type="audio/mp3" controls="controls" preload="none"> 
                        </audio>
                    </td> 
                </tr>

                {% endfor %}

            </tbody>

            <tfoot>
                <tr>
                    <th>Дата</th>
                    <th>А-номер</th>
                    <th>Б-номер</th>
                    <th>Длинна вызова</th>
                    <th>Стоимость звонка</th>
                    <th>Запись разговора</th>
                </tr>
            </tfoot>                    
        </table>

    </div>
</div>
                </div>
            </div>

{% endblock %}
{% block scripts %}
<!-- Data Tables -->
<script src="{% static 'js/plugins/dataTables/jquery.dataTables.js' %}"></script>
<script src="{% static 'js/plugins/dataTables/dataTables.bootstrap.js' %}"></script>
<script src="{% static 'js/plugins/dataTables/dataTables.responsive.js' %}"></script>
<script src="{% static 'js/plugins/dataTables/dataTables.tableTools.min.js' %}"></script>
<script src="{% static 'js/plugins/mediaPlayer/mediaelement-and-player.min.js' %}"></script>
<script>
$(document).ready(function() {


  $('audio,video').mediaelementplayer();

  $('.dataTables-example').dataTable({
      responsive: true,
      "lengthMenu": [[50, 100, -1], [50, 100, "All"]],
      "dom": 'T<"clear">lfrtip',
      "tableTools": {
                    "sSwfPath": "{% static 'js/plugins/dataTables/swf/copy_csv_xls_pdf.swf' %}",
                    "aButtons": [
                        "copy",
                        "csv",
                        "xls",
                        "print",
                    ]
                }
  });

});
</script>
{% endblock %}