{% extends "base.html" %}
{% load staticfiles %}
{% block css %}
    <link href="{% static 'css/plugins/toastr/toastr.min.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}






        <div class="wrapper wrapper-content  animated fadeInRight">
            <div class="row">
                <div class="col-sm-8">
                    <div class="ibox">
                        <div class="ibox-content">
                            <span class="text-muted small pull-right">Последнее изменение: <i class="fa fa-clock-o"></i> {{ lastChangeDate }}</span>
                            <h2>Клиенты</h2>
                            <p>
                                All clients need to be verified before you can send email and set a project.
                            </p>
                            <div class="input-group">
                                <input type="text" placeholder="Search client " class="input form-control">
                                <span class="input-group-btn">
                                        <button type="button" class="btn btn btn-primary"> <i class="fa fa-search"></i> Искать</button>
                                </span>
                            </div>
                            <div class="clients-list">
                            <ul class="nav nav-tabs">
                                <span class="pull-right small text-muted">1406 Elements</span>
                                <li class=""><a data-toggle="tab" href="#tab-1"><i class="fa fa-user"></i> Люди</a></li>
                                <li class="active"><a data-toggle="tab" href="#tab-2"><i class="fa fa-briefcase"></i> Компании</a></li>
                            </ul>
                            <div class="tab-content">
                                <div id="tab-1" class="tab-pane ">
                                    <div class="full-height-scroll">
                                        <div class="table-responsive">
                                            <table class="table table-striped table-hover">
                                                <tbody>
                                                <!-- <tr>
                                                    <td class="client-avatar"><img alt="image" src="{% static 'img/a2.jpg' %}"> </td>
                                                    <td><a data-toggle="tab" href="#contact-1" class="client-link">Anthony Jackson</a></td>
                                                    <td> Tellus Institute</td>
                                                    <td class="contact-type"><i class="fa fa-envelope"> </i></td>
                                                    <td> gravida@rbisit.com</td>
                                                    <td class="client-status"><span class="label label-primary">Active</span></td>
                                                </tr>
                                                <tr>
                                                    <td class="client-avatar"><img alt="image" src="img/a3.jpg"> </td>
                                                    <td><a data-toggle="tab" href="#contact-2" class="client-link">Rooney Lindsay</a></td>
                                                    <td>Proin Limited</td>
                                                    <td class="contact-type"><i class="fa fa-envelope"> </i></td>
                                                    <td> rooney@proin.com</td>
                                                    <td class="client-status"><span class="label label-primary">Active</span></td>
                                                </tr>
                                                -->
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div id="tab-2" class="tab-pane active">
                                    <div class="full-height-scroll">
                                        <div class="table-responsive">
                                            <table class="table table-striped table-hover">
                                                <tbody>
                                                
                                                {% for organization in organizations %}

                                                <tr>
                                                    <td><a href="#{{ organization.organizationid }}" class="getInfo">{{ organization.shortname }}</a></td>
                                                    <td><i class="fa fa-flag"></i> инфо </td>
                                                    <td class="client-status"><span class="label label-primary">Active</span></td>
                                                </tr>
                    

                                                {% endfor %}
                                                
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="ibox ">

                        <div class="ibox-content">
                            <!-- <div class="tab-content">
                                <div id="contact-1" class="tab-pane active"> -->
                                    <div class="row m-b-lg">
                                        <div class="col-lg-4 text-center">
                                            <h2>{{ clientName }}</h2>

                                            <div class="m-b-sm">
                                                <img alt="image" class="img-circle" src="{% static 'img/a2.jpg' %}"
                                                     style="width: 62px">
                                            </div>
                                        </div>
                                        <div class="col-lg-8">
                                            <strong>
                                                О клиенте:
                                            </strong>

                                            <p>
                                                {{ textAboutClient }}
                                            </p>
                                            <button type="button" class="btn btn-primary btn-sm btn-block"><i
                                                    class="fa fa-envelope"></i> Отправить сообщение
                                            </button>
                                        </div>
                                    </div>
                                    <div class="client-detail">
                                    <div class="full-height-scroll">

                                        {{ contactInformation }}

                               <!--      </div>
                                    </div> -->
                                </div>
                                <!-- 
                                <div id="company-1" class="tab-pane">
                                    <div class="m-b-lg">
                                            <h2>Рога и копыта</h2>

                                            <p>
                                                Описалово компании
                                            </p>
                                            <div>
                                                <small>Баланс: 48 000, Кредитный лимит: 100 000</small>
                                                <div class="progress progress-mini">
                                                    <div style="width: 48%;" class="progress-bar"></div>
                                                </div>
                                            </div>
                                    </div>
                                    <div class="client-detail">
                                        <div class="full-height-scroll">

                                            <strong>Оплаты</strong>

                                            <ul class="list-group clear-list">
                                                <li class="list-group-item fist-item">
                                                    <span class="pull-right"> <span class="label label-danger">Просрочено</span> </span>
                                                    Май
                                                </li>
                                                <li class="list-group-item">
                                                    <span class="pull-right"> <span class="label label-warning">Ожидание</span></span>
                                                    Апрель
                                                </li>
                                                <li class="list-group-item">
                                                    <span class="pull-right"> <span class="label label-primary">Оплачено</span> </span>
                                                    Март
                                                </li>
                                            </ul>
                                            <strong>Notes</strong>
                                            <p>
                                                Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.
                                            </p>
                                            <hr/>
                                            <strong>Timeline activity</strong>
                                            <div id="vertical-timeline" class="vertical-container dark-timeline">
                                                <div class="vertical-timeline-block">
                                                    <div class="vertical-timeline-icon gray-bg">
                                                        <i class="fa fa-coffee"></i>
                                                    </div>
                                                    <div class="vertical-timeline-content">
                                                        <p>Оплата услуг за февраль
                                                        </p>
                                                        <span class="vertical-date small text-muted"> 2:10 pm - 12.06.2014 </span>
                                                    </div>
                                                </div>
                                                
                                                <div class="vertical-timeline-block">
                                                    <div class="vertical-timeline-icon navy-bg">
                                                        <i class="fa fa-warning"></i>
                                                    </div>
                                                    <div class="vertical-timeline-content">
                                                        <p>Подключена новая услуга "Запись разговоров"
                                                        </p>
                                                        <span class="vertical-date small text-muted"> 02:50 pm - 03.10.2014 </span>
                                                    </div>
                                                </div>
                                                <div class="vertical-timeline-block">
                                                    <div class="vertical-timeline-icon gray-bg">
                                                        <i class="fa fa-coffee"></i>
                                                    </div>
                                                    <div class="vertical-timeline-content">
                                                        <p>Оплата услуг за Январь.
                                                        </p>
                                                        <span class="vertical-date small text-muted"> 2:10 pm - 12.06.2014 </span>
                                                    </div>
                                                </div>
                                                <div class="vertical-timeline-block">
                                                    <div class="vertical-timeline-icon gray-bg">
                                                        <i class="fa fa-briefcase"></i>
                                                    </div>
                                                    <div class="vertical-timeline-content">
                                                        <p>Заключение договора.
                                                        </p>
                                                        <span class="vertical-date small text-muted"> 4:20 pm - 10.05.2014 </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div> -->
                                
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


{% endblock %}


{% block scripts %}

<script>
    $(document).ready(function() {

        $(".getInfo").click(function(){
            alert($(this).attr('href').match(/\d+/)[0]);
        })

    })
</script>
{% endblock %}
