{% extends "base.html" %}
{% load staticfiles %}

{% block css %}
    
{% endblock %}

{% block content %}

<div class="ibox">
                        <div class="ibox-title">
                            <h5>Список компаний доступных для просмотра</h5>
                            <div class="ibox-tools">
                                <a href="" class="btn btn-primary btn-xs">Добавить новую компанию</a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <div class="row m-b-sm m-t-sm">
                                <div class="col-md-1">
                                    <button type="button" id="loading-example-btn" class="btn btn-white btn-sm" ><i class="fa fa-refresh"></i> Обновить</button>
                                </div>
                                <div class="col-md-11">
                                    <div class="input-group"><input type="text" placeholder="Search" class="input-sm form-control"> <span class="input-group-btn">
                                        <button type="button" class="btn btn-sm btn-primary"> Найти!</button> </span></div>
                                </div>
                            </div>

                            <div class="project-list">

                                <table class="table table-hover">
                                    <tbody>
                                    
                                    {% for company in companies %}

                                    <tr>
                                        <td>
                                            <span class="label label-primary">
                                                {% if company.status %}
                                                    {{ company.status }}
                                                {% else %}
                                                    неизвестно
                                                {% endif %}
                                            </span>
                                        </td>
                                        <td>
                                            <a href="{% url 'lk.views.company' company.organizationId %}">{{ company.shortName }}</a>
                                            <br/>
                                            {% if company.vat %}
                                                <small>ИНН: {{ company.vat }}</small>
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if company.address1 or company.address2 %}
                                                Адрес: {{ company.address1 }} {{ company.address2 }}<br />
                                            {% endif %}
                                            {% if company.phone1 or company.phone2 %}
                                                Телефон: {{ company.phone1 }} {{ company.phone2 }}
                                            {% endif %}
                                        </td>
                                        <td class="project-people">
                                            <a href=""><img alt="image" class="img-circle" src="{% static 'img/a3.jpg' %}"></a>
                                        </td>
                                        <td class="project-actions">
                                            <a href="{% url 'lk.views.company' company.organizationId %}" class="btn btn-white btn-sm"><i class="fa fa-folder"></i> Открыть </a>
                                            <a href="#" class="btn btn-white btn-sm"><i class="fa fa-pencil"></i> Редактировать </a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

{% endblock %}
{% block scripts %}

{% endblock %}