{% extends "base.html" %}
{% load staticfiles %}

{% block css %}

{% endblock %}

{% block content %}

<div class="row">
	<div class="col-lg-9">
		<div class="wrapper wrapper-content animated fadeInUp">
			<div class="ibox">
				<div class="ibox-content">
					<div class="row">
						<div class="col-lg-12">
							<div class="m-b-md">
								<a href="#" class="btn btn-white btn-xs pull-right">Редактировать компанию</a>
								<h2>{{ company.shortname }}</h2>
							</div>
							<dl class="dl-horizontal">
								<dt>Status:</dt> <dd><span class="label label-primary">Active</span></dd>
							</dl>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-5">
							<dl class="dl-horizontal">

								<dt>Полное название:</dt> <dd>{{ company.fullName }}</dd>
								<dt>Город:</dt> <dd>{{ company.cityId.cityName }}</dd>
								<dt>Адрес:</dt> <dd>  {% if company.address1 %}{{ company.address1 }}{% endif %}</dd>
								{% if company.address2 %}
								<dt> </dt> <dd>{{ company.address2 }}</dd>
								{% endif %}

								<dt>Телефон:</dt> <dd>  {% if company.phone1 %}{{ company.phone1 }}{% endif %}</dd>
								{% if company.phone2 %}
								<dt> </dt> <dd>{{ company.phone2 }}</dd>
								{% endif %}
							</dl>
						</div>
						<div class="col-lg-7" id="cluster_info">
							<dl class="dl-horizontal" >

								<dt>ИНН:</dt> <dd>{{ company.vat }}</dd>
								<dt>КПП:</dt> <dd>{{ company.kpp }}</dd>
								<dt>Банк:</dt> <dd>{{ company.bankAccountIdForInvoice.bankId.bankName }}</dd>
								<dt>к.с.:</dt> <dd>{{ company.bankAccountIdForInvoice.bankAccountNumber }}</dd>
								<dt>р.с.:</dt> <dd>{{ company.bankAccountIdForInvoice.bankId.bankCorrAcc }}</dd>
								<dt>БИК:</dt> <dd>{{ company.bankAccountIdForInvoice.bankId.bankBic }}</dd>

								<dt>Контакты:</dt>
								<dd class="project-people">
									<a href=""><img alt="image" class="img-circle" src="{% static 'img/a3.jpg' %}"></a>
									<a href=""><img alt="image" class="img-circle" src="{% static 'img/a1.jpg' %}"></a>
									<a href=""><img alt="image" class="img-circle" src="{% static 'img/a2.jpg' %}"></a>
									<a href=""><img alt="image" class="img-circle" src="{% static 'img/a4.jpg' %}"></a>
									<a href=""><img alt="image" class="img-circle" src="{% static 'img/a5.jpg' %}"></a>
								</dd>
							</dl>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12">
							<dl class="dl-horizontal">
								<dt>Кредитный лимит:</dt>
								<dd>
									<div class="progress progress-striped active m-b-sm">
										<div style="width: 60%;" class="progress-bar"></div>
									</div>
									<small>Подсказка</small>
								</dd>
							</dl>
						</div>
					</div>
					<div class="row m-t-sm">
						<div class="col-lg-12">
							<div class="panel blank-panel">
								<div class="panel-heading">
									<div class="panel-options">
										<ul class="nav nav-tabs">
											<li class="active"><a href="#tab-1" data-toggle="tab">Исходящие направления</a></li>
											<li class=""><a href="#tab-2" data-toggle="tab">Входящие направления</a></li>
										</ul>
									</div>
								</div>

								<div class="panel-body">

									<div class="tab-content">
										<div class="tab-pane active" id="tab-1">

											<table class="table table-striped table-bordered table-hover dataTables-example" >
								            <thead>
								                <tr>
								                    <th></th>
								                    <th></th>
								                    <th></th>
								                    <th></th>
								                    <th></th>
								                    <th></th>
								                    <th></th>
								                    <th></th>
								                </tr>
								            </thead>
								            <tbody>
								            	{% for tariff in tariffs %}
								            		<tr>
								            			<td>{{ tariff.countryName }}</td>
								            			<td>{{ tariff.name }}</td>
								            			<td>{{ tariff.countryITU }}</td>
								            			<td>{{ tariff.prefix }}</td>
								            			<td>{{ tariff.numberFrom }}</td>
								            			<td>{{ tariff.numberTill }}</td>
								            			<td>{{ tariff.price }}</td>
								            			<td>{{ tariff.dateFrom }}</td>
								            		</tr>
								            	{% endfor %}
								            </tbody>
								           </table>

										</div>

										<div class="tab-pane" id="tab-2">


										</div>
									</div>

								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-3">
		<div class="wrapper wrapper-content project-manager">
			<h4>Описание компании</h4>
			<img src="{% static 'img/logos/miatelLogo.png' %}" class="img-responsive">
			<p class="small">
				There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look
				even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing
			</p>
			<p class="small font-bold">
				<span><i class="fa fa-circle text-warning"></i> High priority</span>
			</p>
			<h5>Project tag</h5>
			<ul class="tag-list" style="padding: 0">
				<li><a href=""><i class="fa fa-tag"></i> Zender</a></li>
				<li><a href=""><i class="fa fa-tag"></i> Lorem ipsum</a></li>
				<li><a href=""><i class="fa fa-tag"></i> Passages</a></li>
				<li><a href=""><i class="fa fa-tag"></i> Variations</a></li>
			</ul>
			<h5>Project files</h5>
			<ul class="list-unstyled project-files">
				<li><a href=""><i class="fa fa-file"></i> Project_document.docx</a></li>
				<li><a href=""><i class="fa fa-file-picture-o"></i> Logo_zender_company.jpg</a></li>
				<li><a href=""><i class="fa fa-stack-exchange"></i> Email_from_Alex.mln</a></li>
				<li><a href=""><i class="fa fa-file"></i> Contract_20_11_2014.docx</a></li>
			</ul>
			<div class="text-center m-t-md">
				<a href="#" class="btn btn-xs btn-primary">Add files</a>
				<a href="#" class="btn btn-xs btn-primary">Report contact</a>

			</div>
		</div>
		<div>
			<h4>Документы</h4>
			<hr />
			<a href="{% url 'lk:price' company.organizationId %}"><i class="fa fa-file"></i> Текущее тарифное уведомление</a>
			
		</div>
	</div>
</div>


{% endblock %}
{% block scripts %}

<script>
$(document).ready(function() {

	$('.dataTables-example').dataTable({
		responsive: true,
		"lengthMenu": [[50, 100, -1], [50, 100, "All"]],
		"dom": 'T<"clear">lfrtip',
		"tableTools": {
			"sSwfPath": "{% static 'js/plugins/dataTables/swf/copy_csv_xls_pdf.swf' %}",
			"aButtons": [
			"copy",
			"csv",
			"xls",
			"print",
			]
		}
	});

});
</script>
{% endblock %}