{% extends "base.html" %}
{% load staticfiles %}

{% block css %}
    
{% endblock %}

{% block content %}

            <div class="col-lg-12">
                <div class="wrapper wrapper-content">

<div class="row">
                <div class="col-lg-4">
                        <div class="widget-head-color-box navy-bg p-lg text-center">
                            <div class="m-b-md">
                            <h2 class="font-bold no-margins">
                                Никита Иванов
                            </h2>
                                <small>специалист по работе с VIP клиентами</small>
                            </div>
                            <img src="{% static 'img/a4.jpg' %}" class="img-circle circle-border m-b-md" alt="profile">
                            <div>
                                <span>Готов ответить на любой ваш вопрос</span>
                            </div>
                        </div>
                        <div class="widget-text-box">
                            <h4 class="media-heading">Никита Иванов</h4>
                            <p><a href="mailto:nivanov@heinzelmaennchenltd.com">nivanov@heinzelmaennchenltd.com</a> | <i class="fa fa-mobile">+7 965 000 00 00</i></p>
                            <div class="text-right">
                                <a class="btn btn-xs btn-white"><i class="fa fa-at"></i> Написать </a>
                                <a class="btn btn-xs btn-primary"><i class="fa fa-mobile"></i> Позвонить</a>
                            </div>
                        </div>
                </div>






	<div class="col-lg-4">
		<div class="ibox float-e-margins">
			<div class="ibox-title">
				<span class="label label-success pull-right">Месяц</span>
				<h5>Входящие</h5>
			</div>
			<div class="ibox-content">
				<h1 class="no-margins">0 {{ incoming }}</h1>
				<div class="stat-percent font-bold text-success">98% <i class="fa fa-bolt"></i></div>
				<small>Всего входящих звонков</small>
			</div>
		</div>

		<div class="ibox float-e-margins">
			<div class="ibox-title">
				<span class="label label-info pull-right">Месяц</span>
				<h5>Исходящие</h5>
			</div>
			<div class="ibox-content">
				<h1 class="no-margins">0 {{ outgoing }}</h1>
				<div class="stat-percent font-bold text-info">20% <i class="fa fa-level-up"></i></div>
				<small>Всего исходящих звонков</small>
			</div>
		</div>


	</div>
	<div class="col-lg-4">
		<div class="ibox float-e-margins">
			<div class="ibox-title">
				<span class="label label-primary pull-right">Месяц</span>
				<h5>Баланс</h5>
			</div>
			<div class="ibox-content">
				<h1 class="no-margins">0 {{ balance }}</h1>
				<div class="stat-percent font-bold text-navy">44% <i class="fa fa-level-up"></i></div>
				<small>баланс за месяц</small>
			</div>
		</div>

		<div class="ibox float-e-margins">
			<div class="ibox-title">
				<span class="label label-danger pull-right">День</span>
				<h5>Баланс</h5>
			</div>
			<div class="ibox-content">
				<h1 class="no-margins">0 {{ balanceDay }}</h1>
				<div class="stat-percent font-bold text-danger">38% <i class="fa fa-level-down"></i></div>
				<small>баланс за день</small>
			</div>
		</div>
	</div>
</div>

<br />

<div class="row">
	<div class="col-lg-12">
		<div class="ibox float-e-margins">
			<div class="ibox-title">
				<h5>Статистика</h5>
				<div class="pull-right">
					<div class="btn-group">
						<button type="button" class="btn btn-xs btn-white active">сутки</button>
						<button type="button" class="btn btn-xs btn-white">месяц</button>
						<button type="button" class="btn btn-xs btn-white">год</button>
					</div>
				</div>
			</div>
			<div class="ibox-content">
				<div class="row">
					<div class="col-lg-9">
						<div class="flot-chart">
							<div class="flot-chart-content" id="flot-dashboard-chart"></div>
						</div>
					</div>
					<div class="col-lg-3">
						<ul class="stat-list">
							<li>
								<h2 class="no-margins">2,346</h2>
								<small>Всего входящих звонков за период</small>
								<div class="stat-percent">48% <i class="fa fa-level-up text-navy"></i></div>
								<div class="progress progress-mini">
									<div style="width: 48%;" class="progress-bar"></div>
								</div>
							</li>
							<li>
								<h2 class="no-margins ">4,422</h2>
								<small>Всего исходящих звонков за период</small>
								<div class="stat-percent">60% <i class="fa fa-level-down text-navy"></i></div>
								<div class="progress progress-mini">
									<div style="width: 60%;" class="progress-bar"></div>
								</div>
							</li>
							<li>
								<h2 class="no-margins ">9,180</h2>
								<small>Расходы за период</small>
								<div class="stat-percent">22% <i class="fa fa-bolt text-navy"></i></div>
								<div class="progress progress-mini">
									<div style="width: 22%;" class="progress-bar"></div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>

                </div>
            </div>
{% endblock %}

{% block scripts %}


 <!-- Flot -->
    <script src="{% static 'js/plugins/flot/jquery.flot.js' %}"></script>
    <script src="{% static 'js/plugins/flot/jquery.flot.tooltip.min.js' %}"></script>
    <script src="{% static 'js/plugins/flot/jquery.flot.spline.js' %}"></script>
    <script src="{% static 'js/plugins/flot/jquery.flot.resize.js' %}"></script>
    <script src="{% static 'js/plugins/flot/jquery.flot.pie.js' %}"></script>
    <script src="{% static 'js/plugins/flot/jquery.flot.symbol.js' %}"></script>



<script>
$(document).ready(function() {
	
	var data2 = [
                [gd(2012, 1, 1), 7], [gd(2012, 1, 2), 6], [gd(2012, 1, 3), 4], [gd(2012, 1, 4), 8],
                [gd(2012, 1, 5), 9], [gd(2012, 1, 6), 7], [gd(2012, 1, 7), 5], [gd(2012, 1, 8), 4],
                [gd(2012, 1, 9), 7], [gd(2012, 1, 10), 8], [gd(2012, 1, 11), 9], [gd(2012, 1, 12), 6],
                [gd(2012, 1, 13), 4], [gd(2012, 1, 14), 5], [gd(2012, 1, 15), 11], [gd(2012, 1, 16), 8],
                [gd(2012, 1, 17), 8], [gd(2012, 1, 18), 11], [gd(2012, 1, 19), 11], [gd(2012, 1, 20), 6],
                [gd(2012, 1, 21), 6], [gd(2012, 1, 22), 8], [gd(2012, 1, 23), 11], [gd(2012, 1, 24), 13],
                
                
            ];

            var data3 = [
                [gd(2012, 1, 1), 800], [gd(2012, 1, 2), 500], [gd(2012, 1, 3), 600], [gd(2012, 1, 4), 700],
                [gd(2012, 1, 5), 500], [gd(2012, 1, 6), 456], [gd(2012, 1, 7), 800], [gd(2012, 1, 8), 589],
                [gd(2012, 1, 9), 467], [gd(2012, 1, 10), 876], [gd(2012, 1, 11), 689], [gd(2012, 1, 12), 700],
                [gd(2012, 1, 13), 500], [gd(2012, 1, 14), 600], [gd(2012, 1, 15), 700], [gd(2012, 1, 16), 786],
                [gd(2012, 1, 17), 345], [gd(2012, 1, 18), 888], [gd(2012, 1, 19), 888], [gd(2012, 1, 20), 888],
                [gd(2012, 1, 21), 987], [gd(2012, 1, 22), 444], [gd(2012, 1, 23), 999], [gd(2012, 1, 24), 567],
                
                
            ];

	 var dataset = [
                {
                    label: "Количество звонков",
                    data: data3,
                    color: "#1ab394",
                    bars: {
                        show: true,
                        align: "center",
                        barWidth: 24 * 60 * 60 * 600,
                        lineWidth:0
                    }

                }, {
                    label: "Средняя продолжительность звонка",
                    data: data2,
                    yaxis: 2,
                    color: "#464f88",
                    lines: {
                        lineWidth:1,
                            show: true,
                            fill: true,
                        fillColor: {
                            colors: [{
                                opacity: 0.2
                            }, {
                                opacity: 0.2
                            }]
                        }
                    },
                    splines: {
                        show: false,
                        tension: 0.6,
                        lineWidth: 1,
                        fill: 0.1
                    },
                }
            ];

    var options = {
                xaxis: {
                    mode: "time",
                    tickSize: [3, "day"],
                    tickLength: 0,
                    axisLabel: "Date",
                    axisLabelUseCanvas: true,
                    axisLabelFontSizePixels: 12,
                    axisLabelFontFamily: 'Arial',
                    axisLabelPadding: 10,
                    color: "#838383"
                },
                yaxes: [{
                    position: "left",
                    max: 1070,
                    color: "#838383",
                    axisLabelUseCanvas: true,
                    axisLabelFontSizePixels: 12,
                    axisLabelFontFamily: 'Arial',
                    axisLabelPadding: 3
                }, {
                    position: "right",
                    clolor: "#838383",
                    axisLabelUseCanvas: true,
                    axisLabelFontSizePixels: 12,
                    axisLabelFontFamily: ' Arial',
                    axisLabelPadding: 67
                }
                ],
                legend: {
                    noColumns: 1,
                    labelBoxBorderColor: "#000000",
                    position: "nw"
                },
                grid: {
                    hoverable: false,
                    borderWidth: 0,
                    color: '#838383'
                }
            };

    function gd(year, month, day) {
                return new Date(year, month - 1, day).getTime();
            }

	$.plot($("#flot-dashboard-chart"), dataset, options);

	var mapData = {
		"US": 298,
		"SA": 200,
		"DE": 220,
		"FR": 540,
		"CN": 120,
		"AU": 760,
		"BR": 550,
		"IN": 200,
		"GB": 120,
	};
})
</script>
{% endblock %}