{% extends "base.html" %}
{% load staticfiles %}
<link href="{% static 'css/plugins/dataTables/dataTables.bootstrap.css' %}" rel="stylesheet">
<link href="{% static 'css/plugins/dataTables/dataTables.responsive.css' %}" rel="stylesheet">
{% block css %}

{% endblock %}


{% block content %}
<div class="ibox">
  <div class="ibox-title">
    <h5>Доступные направления</h5>
    <div class="ibox-tools">
      <a href="" class="btn btn-primary btn-xs">Добавить новые направления</a>
    </div>
  </div>
  <div class="ibox-content">
   <table class="table table-striped table-bordered table-hover dataTables-example" >
    <thead>
      <tr>
        <th>Страна</th>
        <th>Направление</th>
        <th>Национальный код</th>
        <th>Коды</th>
      </tr>
    </thead>
    <tbody>

     {% for direction in directions %}
     <tr class="gradeX">
       <td>{{ direction.countryId }}</td>
       <td>{{ direction.name }}</td>
       <td>{{ direction.countryITU }}</td>
       <td>{{ direction.codeList }}</td>
     </tr>
     {% endfor %}

   </tbody>
 </table>
</div>
</div>

{% endblock %}

{% block scripts %}

<script src="{% static 'js/plugins/dataTables/jquery.dataTables.js' %}"></script>
<script src="{% static 'js/plugins/dataTables/dataTables.bootstrap.js' %}"></script>
<script src="{% static 'js/plugins/dataTables/dataTables.responsive.js' %}"></script>

<script>
$(document).ready(function() {

  $('.dataTables-example').dataTable({
    responsive: true,
    "lengthMenu": [[50, 100, -1], [50, 100, "All"]],
    "dom": 'T<"clear">lfrtip',
  });

});
</script>

{% endblock %}