{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Telefonzenstrale | Вход в личный кабинет</title>

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'font-awesome/css/font-awesome.css' %}" rel="stylesheet">

    <link href="{% static 'css/animate.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

</head>

<body class="gray-bg">

    <div class="middle-box text-center loginscreen  animated fadeInDown">
        <div>
            <div>

                <h1 class="logo-name">TZ</h1>

            </div>
            <h3>Heinzelmaennchen Gmbh</h3>
            
            <p>Войти в личный кабинет</p>
            <p>
                {% if error %}
                <div class="alert alert-danger">
                    {{ error }}
                </div>
                {% endif %}
            </p>
            <form class="m-t" role="form" action="{% url 'lk.views.loginView' %}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <input class="form-control" placeholder="Логин" required="" name="username">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Пароль" required="" name="password">
                </div>
                <button type="submit" class="btn btn-primary block full-width m-b">Вход</button>

                <a href="#"><small>Забыли пароль?</small></a>
                <p class="text-muted text-center"><small>У Вас нет аккаунта?</small></p>
                <a class="btn btn-sm btn-white btn-block" href="{% url 'lk.views.requestConnect' %}">Подать заявку</a>
            </form>
            <p class="m-t"> <small>Telefonzentrale &copy; 2014</small> </p>
        </div>
    </div>

    <!-- Mainly scripts -->
    <script src="{% static 'js/jquery-2.1.1.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

</body>

</html>
