{% load staticfiles %}

        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="side-menu">
                    <li class="nav-header">
                        <div class="dropdown profile-element"> <span>
                            <img alt="image" class="img-circle" src="{% static 'img/profile_small.jpg' %}" />
                             </span>
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold">David Williams</strong>
                             </span> <span class="text-muted text-xs block">Art Director <b class="caret"></b></span> </span> </a>
                            <ul class="dropdown-menu animated fadeInRight m-t-xs">
                                <li><a href="profile.html">Profile</a></li>
                                <li><a href="contacts.html">Contacts</a></li>
                                <li><a href="mailbox.html">Mailbox</a></li>
                                <li class="divider"></li>
                                <li><a href="login.html">Logout</a></li>
                            </ul>
                        </div>
                        <div class="logo-element">
                            TZ
                        </div>
                    </li>
                    <li {% if page == "dashboard" %} class="active" {% endif %}>
                        <a href="{% url 'lk:dashboard' '1' %}"><i class="fa fa-dashboard"></i> <span class="nav-label">Панель управления</span> </a>
                    </li>
                    <li {% if page == "companies" %} class="active" {% endif %}>
                        <a href="{% url 'lk:companies' %}"><i class="fa fa-suitcase"></i> <span class="nav-label">Организации</span> </a>
                    </li>
                    <li {% if page == "cdr" %} class="active" {% endif %}>
                        <a href="{% url 'lk:cdr' '1' %}"><i class="fa fa-list"></i> <span class="nav-label">Детализация</span> </a>
                    </li>
                    <li {% if page == "directions" %} class="active" {% endif %}>
                        <a href="{% url 'lk:directions' %}"><i class="fa fa-exchange"></i> <span class="nav-label">Направления</span> </a>
                    </li>
                    <li {% if page == "banks" %} class="active" {% endif %}>
                        <a href=""><i class="fa fa-bank"></i> <span class="nav-label">Банки</span> </a>
                    </li>
                    <li {% if page == "instruction" %} class="active" {% endif %}>
                        <a href="#"><i class="fa fa-file-text-o"></i> <span class="nav-label">Инструкции</span> </a>
                    </li>
                    
                </ul>

            </div>
        </nav>