{% extends "base.html" %}
{% load staticfiles %}

{% block css %}
    
{% endblock %}


{% block content %}


        <table class="table table-striped table-bordered table-hover dataTables-example" >
            <thead>
                <tr>
                    <th>Направление</th>
                    <th>Стоимость</th>
                    <th>Действителен с</th>
                </tr>
            </thead>
            <tbody>
            	{% for tc in tariffs %}

            		<tr>
            			<td></td>
            			<td></td>
            			<td></td>
            		</tr>

            	{% endfor %}

            </tbody>

            <tfoot>
                <tr>
                    <th>Направление</th>
                    <th>Стоимость</th>
                    <th>Действителен с</th>
                </tr>
            </tfoot>                    
        </table>

{% endblock %}

{% block scripts %}
{% endblock %}